* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBEBEB;
}



.pagina-home {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    
    .container {

        .sliding-background {
            
            display: flex;
            flex-direction: row;
            width: 2880px;
            animation: slide 10s ease-in-out infinite;

            div {
                height: 533px;
                width: 1440px; 
            }
    
            @keyframes slide{
                0% {
                  transform: translate3d(-160px, 0, 0);
                }
                50% {
                  transform: translate3d(-1440px, 0, 0);
                }
                100% {
                    transform: translate3d(-160px, 0, 0);
                }
              }
        }
    }

    .colecoes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 40px;
        
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background: rgb(151,11,16);
            background: linear-gradient(338deg, rgba(151,11,16,1) 27%, rgba(229,103,107,1) 100%);
            transition: .5s;
            cursor: pointer;
        }

        div:hover {
            transform: scale(1.04);
        }
    }

    

    .title {
        align-self: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 30px;
        text-transform: uppercase;
        margin: 80px 0 40px;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 150px;

        .card-principal {
            background-color: white;
            padding: 10px;

            > p {
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                font-size: 14px;
            }
            > h1 {
                text-align: center;
                font-family: 'Poppins', sans-serif;
                font-weight: 800;
                font-size: 16px;
                margin-top: 10px;
            }
            
            .card-meio {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #B1B1B1;
                padding: 20px;

                div {
                    display: flex;
                    justify-content: end;
                    width: 100%;

                    i {
                        position: relative;
                        bottom: 15px;
                        left: 15px;
                    }
                }

                span {
                    position: absolute;
                    p {
                        position: relative;
                        top: 100px;
                        left: 130px;

                        background-color: green;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 700;
                        font-size: 14px;
                        text-transform: uppercase;
                        padding: 7px 15px;
                        border-radius: 5px;
                        color: white;
                        letter-spacing: 1.5px;
                        
                        
                    }
                }
                
            }
        }
    }

    .bannerNovidades {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 160px 0;


        .icon-flecha {
            background-color: white;
            border-radius: 50px;
            cursor: pointer;
            
        }

        .icon-flecha:hover {
            transform: scale(1.04);
        }
        .icon-flecha:active {
            transform: scale(1.0);
        }

        .mySlides {
            border-radius: 10px;
            cursor: pointer;
        }
    }

    
}