
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.pagina-ResultadoDeBusca {

    .cabecalho-alternativo {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
        background-color: #d9d9d9;

        > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            
            p {
                font-family: "Poppins";
                font-weight: 300;
                font-size: 20px;
                color: #000;
                margin: 0;
            }

            i {
                margin-right: 10px;
            }
        }

        h1 {
            font-family: "montserrat", sans-serif;
            font-weight: 800;
            font-size: 30px;
            color: #787878;
            margin: 0;
        }
    }

    .menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #C6C6C6;
        padding-bottom: 100px;

        .menu-left {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 25%;
            margin-top: 140px;

            select {
                width: 300px;
                height: 50px;
                padding: 0 10px;
                border-radius: 5px;
                outline: none;
                border: none;
                font-family: "Montserrat", sans-serif;
                font-weight: 800;
                
            }

            select:focus {
                outline: none;
            }

            .menu-preco {

                background-color: #fff;
                margin-top: 30px;
                padding: 20px 30px;
                border-radius: 5px;

                > p  {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                }

                > div {
                    display: flex;
                    flex-direction: row;

                    .deate {
                        margin: 0 10px;

                        p {
                            font-family: "Montserrat", sans-serif;
                        }

                        input {
                            width: 50px;
                            outline: none;

                            background-color: #e7e7e7;
                            color: #787878;
                            border: none;
                            border-radius: 2px;
                            padding: 0 5px;
                            height: 30px;
                        }
                    }

                    button {
                        border: none;
                        background-color: #e7e7e7;
                        color: #787878;
                        width: 100px;
                        border-radius: 2px;
                        height: 30px;
                        font-family: "Montserrat", sans-serif;
                    }
                }
            }
        }

        .menu-right {
            width: 75%;

            > h3 {
                text-align: center;
                margin: 50px 0;
                color: #fff;
                font-family: "Poppins";
                font-weight: 700;
                font-size: 30px;
                filter: drop-shadow(2px 2px 2px #0000004f);
            }

            .menu-cards {
                flex-wrap: wrap;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 100px;

                .card-principal {
                    background-color: white;
                    padding: 10px;
        
                    > p {
                        text-align: center;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 700;
                        font-size: 14px;
                    }
                    > h1 {
                        text-align: center;
                        font-family: 'Poppins', sans-serif;
                        font-weight: 800;
                        font-size: 16px;
                        margin-top: 10px;
                    }
                    
                    .card-meio {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: #B1B1B1;
                        padding: 20px;
                        
                        i {
                            cursor: pointer;
                        }
        
                        div {
                            display: flex;
                            justify-content: end;
                            width: 100%;
        
                            i {
                                position: relative;
                                bottom: 15px;
                                left: 15px;
                            }
                        }
        
                        span {
                            position: absolute;
                            p {
                                position: relative;
                                top: 100px;
                                left: 130px;
        
                                background-color: green;
                                font-family: 'Poppins', sans-serif;
                                font-weight: 700;
                                font-size: 14px;
                                text-transform: uppercase;
                                padding: 7px 15px;
                                border-radius: 5px;
                                color: white;
                                letter-spacing: 1.5px;
                                
                                
                            }
                        }
                        
                    }
                }
            }
            
    
            
        }
    }

}