div {
    header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: black;
    height: 100px;
    padding: 0 20px;

    input {
        width: 700px;
        height: 40px;
        outline: none;
        border: none;
        padding: 0 15px;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #adadad;
    }

    .icons-cabecalho {
        img {
            padding: 0 10px;
        }
    }

}

.sub-cabecalho {
    display: flex;
    align-items: center;

    height: 70px;
    padding-left: 45px;
    background-color: #FCFCFC;

    a {
        padding-right: 20px;
        text-decoration: none;

        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 300;
        color: black;
    }
}

}